@import "../../assets/css/scss/variables";
#team-list-carousel {
  position: relative;
  position: relative;
  .swiper-wrapper {
    align-items: stretch;
  }
  .swiper {
    padding: 20px 0;
    @media (max-width: $breakpoint-md) {
      padding: 20px 0;
    }
  }
  .swiper-slide {
    height: initial;
  }
  .nav-swiper {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
    svg {
      width: 30px;
      height: 30px;
    }
    .s-next {
      position: absolute;
      left: -50px;
      top: 0;
    }
    .s-prev {
      position: absolute;
      right: -50px;
      top: 0;
    }
    .s-next,
    .s-prev {
      cursor: pointer;
      svg {
        path {
          transition: all 0.3s;
        }
      }
      &:hover {
        svg {
          path {
            stroke: $primary-color;
          }
        }
      }
    }
  }
  .swiper-pagination {
    display: none;
    @media (max-width: $breakpoint-md) {
      display: block;
      bottom: 0;
    }
  }
}

#team-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  // max-width: 998px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.load-more-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
#load-more-team {
  background: none;
  margin-bottom: 50px;
  padding: 5px 20px;
  border: 1px solid $primary-color;
  text-transform: uppercase;
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s;
  cursor: pointer;
  path {
    transition: all 0.3s;
  }
  &:hover {
    background-color: $primary-color;
    color: #fff;
    svg {
      path {
        stroke: #fff;
      }
    }
  }
}
.team-item {
  img {
    width: 100%;
    height: auto;
    max-width: 30%;
    @media (max-width: $breakpoint-md) {
      max-width: 100%;
    }
  }
}
.team-item-short {
  position: relative;
  //   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.085);
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  height: 100%;
  // padding-bottom: 70px;
  .team-item__wrap {
    .team-item__img {
      img {
        width: 100%;
        height: auto;
      }
    }
    .team-item__content {
      padding: 15px;
      // padding-bottom: 50px;
      border: 2px solid $background-dark;
      border-radius: $border-radius-lg;
      // box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.091);
      h3 {
        margin-bottom: 10px;
        font-size: 23px;
        a {
          color: $text-color;
          text-decoration: none;
          &:hover {
            color: $primary-color;
          }
        }
      }
      P {
        margin-bottom: 0;
      }
      span {
        display: block;
        margin-bottom: 15px;
        color: $primary-dark;
        font-size: 14px;
      }
      .btn-rev {
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: 14px;
        @media (max-width: $breakpoint-md) {
          display: block;
        }
        @media (max-width: $breakpoint-sm) {
          align-self: stretch;
          width: calc(100% - 30px);
        }
      }
    }
  }
  &:hover {
    transform: translate(0, -5px);
    .team-item__content {
      box-shadow: 0 0px 30px 0px rgba(0, 0, 0, 0.091);
    }
  }
}

.team-item {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.085);
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  .team-item__wrap {
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-md) {
      flex-wrap: wrap;
    }
    .team-item__img {
      width: 30%;
      @media (max-width: $breakpoint-md) {
        width: 100%;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .team-item__content {
      @media (max-width: $breakpoint-md) {
        width: 100%;
      }
      width: 70%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      span {
        font-size: 14px;
        color: $primary-color;
        display: block;
      }
      h2 {
        margin-bottom: 0;
      }
      .btn-rev {
        align-self: flex-end;
        font-size: 14px;
        @media (max-width: $breakpoint-md) {
          display: block;
        }
        @media (max-width: $breakpoint-sm) {
          align-self: stretch;
          width: 100%;
        }
      }
    }
  }
}
