@import "../../assets/css/scss/variables";

.b-services {
  // margin-bottom: 50px;
  // @media (max-width: $breakpoint-md) {
  //   margin-bottom: 30px;
  // }
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  .swiper {
    padding: $spacing-md 0;
    // overflow: initial !important;
    // @media (max-width: $breakpoint-md) {
    //   overflow: hidden !important;
    // }
  }
  .swiper-slide {
    .b-service {
      overflow: hidden;
      height: 407px;
      border-radius: $border-radius-lg;
      border: 2px solid $border-color;
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease;
      .b-service__image {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        &:before {
          content: "";
          position: absolute;
          z-index: 0;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 1);
        }
        a {
          padding: 0;
          margin: 0;
          display: block;
          width: 100%;
          height: 100%;
        }
        img {
          position: relative;
          z-index: 2;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          opacity: 0.6;
        }
      }
      .b-service-conent {
        position: absolute;
        width: 100%;
        z-index: 2;
        bottom: 0;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: all 0.3s ease;
        h2 {
          font-size: 24px;
          color: #fff;
          // margin: 0;
          padding: 0;
          transition: all 0.3s ease;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .b-service-conent__button {
        max-height: 0;

        overflow: hidden;
        transition: all 0.5s ease;
        margin-top: 0;
        p {
          transition: all 0.5s ease;
          opacity: 0;
          color: #fff;
          font-size: 14px;
          margin: 0 0 10px 0;
          transform: translateY(15px);
        }
        a {
          transform: translateY(15px);
          transition: all 0.5s ease;
          opacity: 0;
          font-size: 14px;
        }
      }
      &:hover {
        overflow: visible;
        box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
        transform: translateY(-10px);
        border-color: $primary-color;

        .b-service-conent {
          justify-content: flex-start;
          padding: 20px;
          h2 {
            transform: translateY(-15px);
            margin-bottom: 0px;
          }
        }
        .b-service-conent__button {
          max-height: 200px;
          // opacity: 1;
          margin-top: 0;
          // transform: translateY(-20px);
          p {
            opacity: 1;
            transition: all 0.2s ease 0.2s;
            transform: translateY(0px);
          }

          a {
            opacity: 1;
            transition: all 0.2s ease 0.2s;
            transform: translateY(0px);
          }
        }
      }
    }
  }
  .swiper-nav {
    position: absolute;
    width: 100%;
    max-width: 1500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    .swiper-button-next,
    .swiper-button-prev {
      &:after {
        display: none !important;
      }
      svg {
        width: 30px;
        height: 30px;
      }
      &:hover {
        path {
          fill: var(--main1);
        }
      }
    }
  }
}
