@import "../../assets/css/scss/variables";

.b-slider {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  margin-bottom: 50px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 30px;
  }
  @media (max-width: $breakpoint-sm) {
    margin-bottom: 20px;
  }
  // z-index: 1;
  .swiper-slide {
    height: 50vh;
    min-height: 600px;
    width: 100%;
    .b-slider__image {
      position: absolute;
      width: 100%;
      height: 100%;

      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 38, 99, 0.7);
      }
      img {
        width: 100%;
        height: 108%;
        object-fit: cover;
        object-position: center;
      }
    }
    .b-slider-conent {
      position: absolute;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      z-index: 4;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // text-align: center;
      padding-left: 80px;
      @media (max-width: $breakpoint-sm) {
        padding-left: 15px;
        padding-right: 15px;
      }
      .b-slider-conent__inner {
        max-width: 992px;
        // margin: 0 auto;
      }
      .b-slider-conent__title {
        color: #fff;
        font-size: 61px;
        line-height: 1.2;
        @media (max-width: $breakpoint-md) {
          font-size: 61px;
        }
        @media (max-width: $breakpoint-md) {
          font-size: 51px;
        }
        @media (max-width: $breakpoint-sm) {
          font-size: 2rem;
        }
      }
      .b-slider-conent__desc {
        margin-bottom: 30px;
        p {
          font-size: 18px;
          line-height: 1.4;
          @media (max-width: $breakpoint-md) {
            font-size: 18px;
          }
          @media (max-width: $breakpoint-sm) {
            font-size: 16px;
          }
        }
        * {
          color: #fff;
        }
      }
    }
  }
  .swiper-pagination--home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 100px;
    width: 50px;
    top: 50%;
    transform: translate(0px, -50%);
    padding: 0 50px;
    @media (max-width: $breakpoint-sm) {
      flex-direction: row;
      justify-content: initial;
      align-items: initial;
      bottom: 15px;
      padding: 0;
      top: initial;
      left: 15px;
      transform: initial;
    }
    span {
      position: relative;
      background: none;
      border: none !important;
      color: $background-color;
      width: 50px;
      height: 45px;
      display: flex;
      justify-content: center;
      opacity: 1;
      transition: all 0.3s;
      @media (max-width: $breakpoint-sm) {
        width: 150px;
        height: 20px;
      }
      &:after {
        @media (max-width: $breakpoint-sm) {
          width: 0px;
          transition: all 0.3s ease;
        }
      }
      &:last-child {
        width: 0;
        align-items: flex-end;
        @media (max-width: $breakpoint-sm) {
          align-items: initial;
          width: auto;
        }
        &:after {
          bottom: 40px !important;
          @media (max-width: $breakpoint-sm) {
            bottom: 20px !important;
            width: 0px;
          }
        }
      }
      &.swiper-pagination-bullet-active {
        height: 300px;
        @media (max-width: $breakpoint-sm) {
          height: initial;
          width: 150px;
          // padding-right: 100px;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 5px);
          width: 1px;
          height: calc(100% - 30px);
          background-color: $primary-color;
          transition: all 0.3s ease;
          @media (max-width: $breakpoint-sm) {
            display: none;
          }
        }
        .swiper-pagination-bullet-number {
          color: $primary-color !important;
        }
      }
      .swiper-pagination-bullet-number {
        font-size: 20px;
        color: $background-color;
      }
    }
    .swiper-pagination-bullet-active {
      border: 3px solid $primary-color;
    }
  }
}

// .h-middle {
//   position: absolute !important;
//   background: none !important;
//   .mega-menu-link {
//     color: #fff !important;
//   }
// }

.acf-block-preview {
  .b-slider {
    .swiper-wrapper {
      .swiper-slide {
        display: none;
        &:nth-child(1) {
          display: block;
        }
      }
    }
  }
}
