.page-form {
  .page-form__grid {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: $spacing-xl;
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
      gap: $spacing-lg;
      padding-top: $spacing-lg;
      padding-bottom: $spacing-lg;
    }
  }
  .page-form__header {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: var(--before-left, -150%);
    //   width: var(--before-width, 400%);
    //   height: calc(100% + 2rem) !important;
    //   background-color: $background-light;
    //   z-index: -1;
    //   margin-top: -2rem;
    // }
    .post-thumbnail {
      img {
        max-height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: $border-radius-lg;
        border: 1px solid $primary-color;
      }
    }
  }
  .has-thumbnail {
    // margin-bottom: 0px;
    padding-bottom: 0 !important;
    &:before {
      height: calc(100% - 250px) !important;
      @media (max-width: $breakpoint-md) {
        display: none !important;
      }
    }
  }
  .page-form__content {
    min-width: 0;
  }

  .page-form__sidebar {
    min-width: 0;
  }

  .page-form__sticky {
    position: sticky;
    top: 80px;
    padding: $spacing-lg;
    background-color: $primary-light;
    border-radius: $border-radius-lg;
    color: $background-color;
    * {
      color: #fff;
    }

    a {
      color: $background-color;
    }
    .wpcf7-submit {
      width: 100%;
      background-color: $primary-color;
      color: $background-color;
    }
    .wpcf7-spinner {
      position: absolute;
      top: 0;
      left: 0;
      // width: 100%;
      // height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
  }

  .post-thumbnail {
    margin-bottom: $spacing-lg;
  }

  .post-content {
    // max-width: 860px;
    margin: 0 auto;
  }

  form {
    display: grid;
    gap: $spacing-md;

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
      width: 100%;
    }
    .header-form {
      h4 {
        margin-bottom: 0;
        br {
          display: block !important;
        }
      }
      p {
        margin: 0;
      }
    }
    small {
      line-height: 1.1;
    }
    .wpcf7-acceptance {
      span {
        line-height: 1.1;
        font-size: 12px;
        font-weight: $font-weight-normal;
        margin-bottom: 0;
        color: #fff !important;
      }
    }
    label > span,
    .wpcf7 label > span {
      margin: 0;
      margin-bottom: 5px;
      display: block;
    }
  }

  @media (max-width: $breakpoint-lg) {
    .page-form__grid {
      grid-template-columns: 1fr;
    }
    .page-form__sticky {
      position: static;
      top: auto;
    }
  }
}
