.info-partners__logos {
  padding: 30px 0;
  border-top: 1px solid $border-color;
  @media (max-width: $breakpoint-md) {
    padding: $spacing-lg 0;
  }
  .item {
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 80px;
      object-fit: contain;
      filter: grayscale(100%);
      opacity: 0.4;
      transition: all 0.3s ease;
      &:hover {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}
