.recommended-posts {
  padding: $spacing-xxl 0;
  // background-color: $background-dark;
  // margin-bottom: -150px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    left: 0;
    margin-left: 0%;
    background-color: $background-light;
    z-index: -1;
    // margin-top: -2rem;
  }
  .recommended-posts__posts-wraper {
    display: grid;
    gap: $spacing-md;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: $breakpoint-lg) {
      gap: $spacing-lg;
    }
    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }
  article {
    display: flex;
    align-items: center;
    gap: $spacing-md;
    transition: all 0.4s ease-out;
    .post-thumbnail {
      width: 100px;
      height: 100px;
      border-radius: $border-radius-lg;
      overflow: hidden;
      border: 1px solid $border-color;
      a {
        display: block;
        overflow: hidden;
        border-radius: 8px;
        width: 140px;
        height: 100%;
        margin: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $border-radius-lg;
      }
    }
    .post-content {
      padding: $spacing-sm;
      flex: 1;

      .post-title {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        margin-bottom: $spacing-sm;
      }
      .post-excerpt {
        font-size: 14px;
        line-height: 1.2;
      }
    }
    &:hover {
      transform: translate(0, -5px);
      box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
